:root{
    --white:#FFFF;
    --primaryColor: hsl(211deg 21% 19%);
    --black:hsl(210deg 7% 17%);
    --lightPrimaryColor: rgb(58, 58, 58);
    --secondaryColor: hsl(340deg 82% 52%);
    --grey: hsl(0deg 0% 94%);

}