.CajaDeColor__container{
    height: 220px;
    width: 140px;
    border-radius: 10px;
    position:relative;
    cursor: pointer;
}

.CajaDeColor__container p{
    color: white;
    background-color:rgba(0, 0, 0, 0.566);
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding:2px;
    border-radius: 5px;
    
}

@media (max-width: 870px){
    .CajaDeColor__container{
        height: 60px;
        width: 400px;
    }
}