.CajaDeColor__container{
    height: 220px;
    width: 140px;
    border-radius: 10px;
    position:relative;
    cursor: pointer;
}

.CajaDeColor__container:hover{
    transform: scale(1.02);
    transition: all .5s ease;
}

.CajaDeColor__container:active{
    transform: scale(0.99);
    transition: all .1s ease;
}

.CajaDeColor__color-hex{
    color: white;
    background-color:rgba(0, 0, 0, 0.375);
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding:2px;
    border-radius: 5px;
}

@media (max-width: 870px){
    .CajaDeColor__container{
        height: 70px;
        width: 100%;
    }
}

@media (max-width: 470px){

    .CajaDeColor__container{
        height: 50px;
        width: 100%;
    }
}