@import url('./_vars.css');

.footer__container{
    background-color: var(--black);
    width: 100%;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px 0;
    height: 60px;
}

.footer__links{
    display:flex;
    list-style: none;
    gap: 20px;
    margin-top:10px;
}

.footer__links li a{
    text-decoration: none;
    color:white;
}