@import url('./_vars.css');

.home__container{
    width: 100%;
    min-height: calc(100vh - 65px - 100px);
    position:relative;
}

.home__center-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin: 40px auto;
    padding:30px 50px;
    border-radius: 15px;
    text-align: center;
    max-width: 70vw;
}

.home__center-parrafo{
    margin-top:2px;
}

.home__button-container{
    display:flex;
    gap: 10px;
}
.home__button{
    background: var(--secondaryColor);
    color:white;
    padding: 10px 15px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.home__button:hover{
    transform: scale(1.1);
    transition: all .5s ease;
    background-color: var(--darkSecondaryColor);
}

.home__button--disabled{
    background-color: var(--lightSecondaryColor);
    cursor:initial;
    color:white;
    padding: 10px 15px;
    border:none;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 470px){

    .home__center-container{
        padding: 20px;
    }
}