@import url('./_vars.css');

.navbar__container{
    display:flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: var(--primaryColor);
    color: white;
    top:0;
}

.navbar__links{
    display:flex;
    list-style: none;
    gap:20px;
    margin-right: 50px;
}

.navbar__link{
    text-decoration: none;
    color:white;
    font-weight: bold;
}

.navbar__links li:hover{
    transform: scale(1.1);
    transition: all .5s ease;
}

.navbar__links li:hover > .navbar__link{
    transition: all .5s ease;
    color: var(--secondaryColor)
}